<a href="https://colab.research.google.com/github/LaguduPadmasree/Basic_Python_codes/blob/main/Day10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**To Print Calendar**

In [ ]:
import calendar
year=int(input())
month=int(input())
mycal=calendar.month(year,month)
print(mycal)

2024
12
   December 2024
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

**To convert Celsius into Fahrenheit:**

In [ ]:
celsius=float(input())
fahreinheit=(celsius*1.8)+32
print(fahreinheit)

1
33.8

**To Convert Kilometer into Mile:**

In [ ]:
km = float(input())
mile= km*0.621371
print("%.2f miles" %mile)

4
2.49 miles

**Guesss the number**

In [ ]:
mynum=7
while True:
  usernum=int(input())
  if mynum==usernum:
    print("You Won")
    break
  else:
    print("Try Again")

4
Try Again
5
Try Again
5
Try Again
6
Try Again
7
You Won

**To elibility For Voting:**

In [ ]:
age=int(input())
if age>=18:
  print("You are eligible")
else:
  print("You are not eligible")

16
You are not eligible

**To elibility for Marriage:**

In [ ]:
gender=input()
age=int(input())
if gender=="female" or "FEMALE":
  if age>=18:
    print("Eligible for marriage")
  else:
    print("Not Eligible for marriage")
elif gender=="male" or "MALE":
  if age>=21:
    print("Eligible for marriage")
  else:
    print("Not Eligible for marriage")
else:
  print("I Don't know the limit")

male
34
Eligible for marriage

**To Multiplication Table:**

In [ ]:
n=int(input())
for i in range(1,11):
  print(str(n),"*",str(i),"=",str(n*i))

9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90