<a href="https://colab.research.google.com/github/LaguduPadmasree/Basic_Python_codes/blob/main/Day11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Star Patterns:**

In [ ]:
for i in range(5):
  for  k in range(5-i):
    print("",end=" ")
  for j in range(i):
    print("*",end=" ")
  print(end="\n")

    *
   * *
  * * *
 * * * *

**Numeric Patterns:**

In [ ]:
n=5
p=1
for i in range(n):
  for j in range(i+1):
    print(p,end=" ")
    p+=1
  print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

**Prime Numbers:**

In [ ]:
number=7
for i in range(2,10):
  if number%i==0:
    print("Not Prime Number")
    break
  else:
    print("Prime Number")
    break

Prime Number

**Print all digits of a number on different lines:**

268%10 =Remainder(26.8)=8

268//10=Quotient(26.8)=26

In [ ]:
n = 268
m=n
while m!=0:
  d = m%10
  print(d)
  m=m//10
  print(m)

8
26
6
2
2
0

**Check If a number is Palindrome or Not:**

In [ ]:
n=121
m=n
sum=0
while m!=0:
  d=m%10
  sum = sum*10+d
  m=m//10
if sum == n:
    print("Yes")
else:
    print("No")

Yes

**Spy Number:**

123=> 1+2+3 =1*2*3 = 6

In [ ]:
n=123
m=n
sum = 0
prod = 1
while m!=0:
  d=m%10
  sum = sum+d;
  prod = prod*d;
  m = m//10
if(sum==prod):
  print("yes")
else:
  print("no")

yes

**Harshad/Niven Number:**

156=> 1+5+6 = 12

In [ ]:
n=156
m=n
sum=0
while m!=0:
  d=m%10
  sum = sum+d
  m=m//10
if m%sum==0:
  print("yes")
else:
  print("no")

yes