<a href="https://colab.research.google.com/github/LaguduPadmasree/Basic_Python_codes/blob/main/Day7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Palindrome:

In [ ]:
def ispalindrome(s):
  return s==s[::-1]
s="malayalam"
ans=ispalindrome(s)
if ans:
  print("Palindrome")
else:
  print("Not Palindrome")

Palindrome

**Palindrome using input+string slicing:**

In [ ]:
num = int(input())
num_str = str(num)
if num_str == num_str[::-1]:
  print("Palindrome")
else:
  print("Not palindrome")

13431
Palindrome

#Armstrong Number:
**INPUT:**

153 =1^3+5^3+3^3=153

**OUTPUT:**

153

In [ ]:
def is_armstrong(num):
  num_str=str(num)
  n=len(num_str)
  sum=0
  for digit in num_str:
    sum+=int(digit)**n
  if sum==num:
     return True
  else:
     return False
num=int(input())
print(is_armstrong(num))

370
True

#Anagram:
**Input:**

listen

**Output:**

silent

In [ ]:
def check(s1,s2):
  if sorted(s1)==sorted(s2):
    print("Anagram")
  else:
    print("Not Anagram")

s1=input()
s2=input()
print(check(s1,s2))

listen
silent
Anagram
None

#Fibonacci Series:
**Input:**

8

**Output:**

0 1 1 2 3 5 8 13

In [ ]:
def fibonacci(n):
  a,b=0,1
  for i in range(n):
    a,b=b,a+b
  return a
n=int(input())
print(fibonacci(n))

8
21

**Input:**

8

**Output:**

0 1 1 2 3 5 8 13

In [ ]:
def fibonacci(n):
  if n < 0:
    return 0
  elif n == 0:
    return 0
  elif n == 1:
    return 1
  else:
    return fibonacci(n-1)+fibonacci(n-2)
n = int(input())
print(fibonacci(n))

8
21

**Fibonacci in reverse order:**

output:

21 13 8 5 3 2 1 1 0

In [ ]:
fibonacci_sequence=[0,1,1,2,3,5,8,13,21]
while fibonacci_sequence[-1]<0:
  next_number=fibonacci_sequence[-1]+fibonacci_sequence[-2]
  fibonacci_sequence.append(next_number)
for number in reversed(fibonacci_sequence):
  print(number,end=" ")

21 13 8 5 3 2 1 1 0