<a href="https://colab.research.google.com/github/LaguduPadmasree/Basic_Python_codes/blob/main/Day9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Number Patterns

In [ ]:
n=5
for i in range(n):
    print("1 "*(i+1))

1
1 1
1 1 1
1 1 1 1
1 1 1 1 1

In [ ]:
n=5
p=5
for i in range(n):
  for j in range(i+1):
    print(p,end=" ")
  p-=1
  print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [ ]:
n=5
for i in range(n):
  for j in range(i+1):
    print(i+1,end=" ")
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
n=5
p=0
for i in range(n):
  for j in range(i+1):
    print(p,end=" ")
  p+=2
  print()

0
2 2
4 4 4
6 6 6 6
8 8 8 8 8

In [ ]:
n=5
for i in range(n):
  for j in range(i+1):
    if i%2==0:
      print(1,end=" ")
    else:
      print(2,end=" ")
  print()

1
2 2
1 1 1
2 2 2 2
1 1 1 1 1

In [ ]:
n=5
p=5
for i in range(5,0,-1):
  print((str(i)+' ')*i)

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1